body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background: white;
}

ul{
    padding: 0;
    margin: 0 0 0 120px;
    list-style: none;
}

li{
    float: left;
}

nav a{
    width: 120px;
    display:block;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
}

header{
    margin: 0 0 0 120px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.info{
    margin: 0 0 0 120px;
    padding: 0;
}

button{
    margin: 0 0 0 120px;
    height: 34px;
    background: cyan;
    border-radius: 8px;
    border-color: cyan;
}
aside{
    max-width: 70%;
    float: right;
    background-size: cover;
}
.userinfo.button{
    background: cyan;
}
form{
    margin: 0 0 0 120px;
    text-align-last: center;
}
.enterlink{
    height: 100%;
    margin: 0 180px 0 170px;
    background-image: url(file:///Users/aditya/Downloads/url-shortener-main/images/bg-boost-desktop.svg);
    background-color: hsl(257, 27%, 26%);
}
.link{
    width: 700px;
    height: 30px;
    float: left;;
    text-align-last:left;
    border-radius: 8px;
}
.submitbutton{
    height: 34px;
    background: cyan;
    width: 120px;
    border-radius: 8px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
}
#features header p{
    text-align: center;
    font-size: 14px;
}
#features article{
    margin: 0 0 0 120px;
}
#pricing{
    margin: auto;
    text-align:center;
    height: 100%;
    background-image: url(file:///Users/aditya/Downloads/url-shortener-main/images/bg-boost-desktop.svg), url(file:///Users/aditya/Downloads/url-shortener-main/images/bg-shorten-desktop);
    background-color: hsl(257, 27%, 26%);
    background-position:center;
    background-repeat: repeat, repeat;
    padding: 25px;
}
#pricing header h2{
    text-align:center;
    margin:auto;
    color: white;
}
#pricing button{
    align-items: center;
}

#resources h4{
    margin: 0 0 0 120px;
}
#resources article ul{
    margin: 0 0 0 120px;
    list-style-type: none;
}
.social{
    float: right;
    margin: auto;
}
#svg {
    background-color: hsl(257, 27%, 26%);
    width: 25px;
    height: 25px;
    border: 5px solid hsl(257, 27%, 26%);
  }
  
  .circle {
    border-radius: 100%;
  }
 .container{
     display: flex;
 } 
 .grid{
     display: flex;
     margin: 0 0 0 120px;
     color: white; 
}
 .social{
    color: rgb(236, 233, 233);
 }
 
 footer{
     background: black;
     height: 190px;
 }
 #resources a{
     color: white;
 }
 #logo{
    background: inherit;
    background-clip: text;
    color: transparent;
    filter:invert(1) grayscale(1) contrast(5)
 }
 
 
